/* Reset and general styles */
* {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Body styles */
body {
  overflow-x: hidden;
}

/* Course body styles */
body.courses-body {
  background-color: #eee;
}

/* Heading styles */
.heading {
  display: flex;
  align-items: end;
  background-color: #0c3765;
  color: white;
  padding: 1rem;
  border-bottom: 1px solid #ddd;
  margin: 0;
  width: 100%;
}

.heading h1 {
  color: white;
  font-size: 1.5rem;
  margin: 1rem 1rem 0 0;
}

/* Navigation button styles */
.nav-btn {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  border-radius: 4px;
}

/* Offcanvas styles */
.offcanvas {
  background-color: #fff;
  padding: 1rem;
  border: 1px solid #ddd;
}

.offcanvas a {
  color: #333;
  text-decoration: none;
  display: block;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}

.offcanvas a:hover {
  background-color: #eee;
}

/* Course card styles */
.course-card {
  width: 40rem;
  margin: 1rem;
  padding: 1.5rem;
  border: 1px solid #ddd;
  box-shadow: 0,4px,6px rgb(255, 236, 236);
  color: white;
  border-radius: 18px;
  background-color: #0b52beb3;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  text-align: center;
}

.course-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.course-card h1 {
  margin-bottom: 0.5rem;
  font-size: 1.25rem;
  color: #333;
}

.course-card h4 {
  margin-bottom: 1rem;
  font-size: 1rem;
  color: #666;
}

/* Course button styles */
.course-btn {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  text-transform: uppercase;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.course-btn:hover {
  background-color: #0056b3;
}

.course-btn a {
  text-decoration: none;
  color: white;
}

/* Button container styles */
.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Table styles */
.table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #ddd;
}

.table th,
.table td {
  padding: 0.5rem;
  border: 1px solid #ddd;
}

.table thead {
  background-color: #eee;
}

/* Select styles */
select {
  padding: 0.5rem;
  border: 1px solid #ddd;
  border-radius: 4px;
}

/* Table container styles */
.table-container {
  max-width: 100%;
  overflow-x: auto;
  padding: 1rem;
}

.table th, .table td {
  text-align: center;
}

/* Other details styles */
.student-details, .course-details, .attendance-details {
  margin: 1rem;
}

/* Attendance details styles */
.attendance-details {
  text-align: center;
  background-color: #D9DAFC;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 110%;
  overflow-x: hidden; /* Prevent horizontal scrolling */
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Eligibility status styles */
.eligibility-status .eligible {
  background-color: green;
  text-align: center;
  color: white;
  text-align: center;
  width: 500px;
  position: relative;
  right:4rem;
}

.eligibility-status .not-eligible {
  text-align: center;
  color: white;
  background-color: red;
  width: 500px;
  margin-right: 18rem;
  position: relative;
  right:  4rem;
}

.eligibility-status {
  background-color: #D9DAFC;
}

/* Student details styles */
.student-details h1 {
  margin-left: 2rem;
  margin-top: 0 !important;
}

.student-details h2 {
  margin-left: 2rem;
}

.student-details {
  color: white;
  background-color:#0b52beb3;
  margin: 0;
}

/* Course details styles */
.course-details h1 {
  margin-left: 2rem;
}

.course-details h1 {
  margin-left: 2rem;
  margin-top: 1rem;
}

.course-cards {
  display: flex;
  margin: 0.5rem;
}

/* Average attendance styles */
.average-attendance {
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  width: 200px;
  margin: auto;
}

.circle {
  position: relative;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background-color: #7c8288;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle span {
  position: absolute;
  font-size: 2em;
  color: #ffffff;
}

.average-attendance h2 {
  display: flex;
  width: 100%;
  white-space: nowrap;
  text-align: center;
  position:relative;
  right:2rem;
}

/* Hidden element styles */
#none {
  display: none;
}

/* Home button styles */
.home-btns {
  display: flex;
}

/* Home body styles */
.home-body {
  color: white;
  background-image: url(https://res.cloudinary.com/drqpxfysj/image/upload/v1716372935/ozvo98qhspbtzslfewyg.jpg);
}

.home-body h2 {
  margin-left: 6rem !important;
  margin-top: 1rem;
}

.form-group {
  margin-bottom: 1.5rem;
}

input[type="text"] {
  width: 100%;
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  cursor: pointer;
}

button.btn-danger {
  color: #fff;
  background-color: #dc3545;
  border-color: #dc3545;
}

button.btn-danger:hover {
  background-color: #c82333;
  border-color: #bd2130;
}

/* Autocomplete styles */
.ui-autocomplete {
  max-height: 150px; /* Limit to approximately 5 results */
  overflow-y: auto;
  overflow-x: hidden;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}

.ui-menu-item {
  padding: 0.5rem;
  cursor: pointer;
}

.ui-menu-item:hover {
  background-color: #f1f1f1;
}

.ui-helper-hidden-accessible {
  display: none;
}

/* Styling for the list of students in the section */
.list-group-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.75rem 1.25rem;
  margin-bottom: 0.5rem;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.alert-success {
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
  padding: 0.75rem 1.25rem;
  border-radius: 4px;
  margin-bottom: 1.5rem;
}
/* CSS to adjust the width of the search results dropdown */
.ui-autocomplete {
  max-height: 200px; /* Set a maximum height for the dropdown */
  overflow-y: auto; /* Enable vertical scrolling if needed */
  width: calc(80% - 2px); /* Adjust the width to match the input box */
  border: 1px solid #ccc; /* Add a border for visual separation */
  position: absolute; /* Position the dropdown absolutely */
  background-color: #fff; /* Set background color */
  z-index: 1000; /* Set a higher z-index to ensure it appears above other elements */
}
body {
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  margin: 0;
  padding: 0;
}

.container {
  width: 80%;
  margin: auto;
  overflow: hidden;
}

h1, h2 {
  color: #333;
}
.timetable {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.timetable, th, td {
  border: 1px solid #ddd;
}

th, td {
  padding: 10px;
  text-align: center;
}

th {
  background-color: #f2f2f2;
  font-weight: bold;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}

tr:hover {
  background-color: #f1f1f1;
}

.attendance-entered {
  background-color: #4CAF50 !important;
  color: white;
}

.attendance-not-entered {
  background-color: blue !important;
  color: white;
}

.attendance-mismatch {
  background-color: red !important;
  color: white;
}

.class-cancelled {
  background-color: orange !important;
  color: white;
}

.legend {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.legend div {
  margin: 0 10px;
  display: flex;
  align-items: center;
}

.legend-box {
  width: 20px;
  height: 20px;
  margin-right: 5px;
  display: inline-block;
  border: 1px solid #000;
}

.attendance-not-entered .legend-box {
  background-color: blue;
}

.attendance-entered .legend-box {
  background-color: #4CAF50;
}

.attendance-mismatch .legend-box {
  background-color: red;
}

.class-cancelled .legend-box {
  background-color: orange;
}

p {
  margin: 0;
  padding: 5px 0;
  color: #555;
}
