<% layout("../layouts/adminBoilerplate") -%>
<body>
    <div class="container mt-5">
        <h1>Create New Subject</h1>
        <form action="/admin/subjects" method="POST">
            <!-- Subject Name -->
            <div class="form-group">
                <label for="name">Subject Short Name:</label>
                <input type="text" name="name" id="name" class="form-control" required>
            </div>

            <!-- Subject Short Name -->
            <div class="form-group mt-3">
                <label for="full_name">Subject full Name:</label>
                <input type="text" name="full_name" id="full_name" class="form-control" required>
            </div>

            <!-- Subject Code -->
            <div class="form-group mt-3">
                <label for="code">Subject Code:</label>
                <input type="text" name="code" id="code" class="form-control" required>
            </div>

            <!-- Academic Year -->
            <div class="form-group mt-3">
                <label for="academicYear">Academic Year:</label>
                <select name="academicYear" id="academicYear" class="form-control">
                  <option value="" selected>select year</option>
                    <% academicYears.forEach(year => { %>
                        <option value="<%= year._id %>"><%= year.name %></option>
                    <% }) %>
                </select>
            </div>

            <!-- Semester -->
            <div class="form-group mt-3">
                <label for="semester">Semester:</label>
                <select name="semester" id="semester" class="form-control">
                    <% semesters.forEach(sem => { %>
                        <option value="<%= sem._id %>"><%= sem.name %></option>
                    <% }) %>
                </select>
            </div>

            <!-- Subject Type -->
            <div class="form-group mt-3">
                <label for="type">Subject Type:</label>
                <select name="type" id="type" class="form-control" required>
                    <option value="Theory">Theory</option>
                    <option value="Practical">Practical</option>
                    <option value="Leisure">Leisure</option>
                </select>
            </div>

            <!-- Submit Button -->
            <button type="submit" class="btn btn-primary mt-4">Create Subject</button>
        </form>
    </div>
</body>
