<% layout("../layouts/studentBoilerplate") -%>

<body style="height: 100vh; width: 100%;">
    <!-- Main Container -->
    <div class="container text-center">
        <!-- Course Create Form Container -->
        <div class="course-create row align-items-center offset-3 course-card" style="margin-top: 5rem;">
            <!-- Download Attendance Form -->
            <form method="post" action="/student/download" class="col needs-validation" novalidate>
                <h2 class="col">Download Attendance</h2>
                
                <!-- Date Range Selection -->
                <div class="row col mb-3">
                    <!-- From Date Input -->
                    <div class="col">
                        <label for="date"><h5>from</h5></label>
                        <input type="date" id="date" name="from" required>  
                        <div class="invalid-feedback">
                            Please choose a date.
                        </div>
                    </div>
                    
                    <!-- To Date Input -->
                    <div class="col">
                        <label for="date"><h5>to</h5></label>
                        <input type="date" id="date" name="to" required>
                        <div class="invalid-feedback">
                            Please choose a date.
                        </div>
                    </div>
                </div>     
                
                <!-- Course Selection -->
                <div class="row mb-3">
                    <label for="course">Course:</label>
                    <select id="myDropdown" name="course">
                        <!-- Loop through courses and display options -->
                        <% for (course of courses) { %>
                            <option value="<%= course.course %>"><%= course.course %></option>
                        <% } %>
                    </select>
                </div>
                
                <!-- Submit Button -->
                <div class="button-container">
                    <button class="btn btn-outline-dark">Submit</button>
                </div>
            </form> 
        </div>
    </div>
</body>
