<% layout("../layouts/adminBoilerplate") -%>
<body>
    <div class="container mt-5">
        <h1 class="mb-4">Create New Semester</h1>
        <form action="/admin/semesters" method="POST">
            <div class="form-group">
                <label for="name">Semester Name:</label>
                <input type="text" name="name" id="name" class="form-control" required>
            </div>
            <button type="submit" class="btn btn-primary mt-3">Create Semester</button>
        </form>
    </div>
</body>
